<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{url_for('static',filename='bootstrap.min.css')}}" rel="stylesheet" media="screen">
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="{{url_for('static',filename='bootstrap.min.js')}}"></script>
    </head>
    <body>
        {% import 'modal.html' as modal %}
        <div class="container">
                {% for site,id in site_mappings.iteritems()  %}
                {{ modal.input(id, site) }}
                {% endfor %}
        </div>
    </body>
</html>
