
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
     <h4 class="modal-title">{{site}}</h4>
</div>
<div class="modal-body">
        <table id="{{id}}table" class="table table-striped" class="tablesorter">
        <thead>
            <tr>
                <th>Server</th>
                <th>Application Version</th>
            </tr>
        </thead>
        <tbody>
        {% for site,servers in info.iteritems()  %}
            {% for server, version in servers.iteritems() %}
            <tr>
                <td>{{server}}</td>
                <td>{{version}}</td>
            </tr>
            {% endfor %}
        {% endfor %}
</div>
<script type="text/javascript">
    $(document).ready(function(){
$(function(){
$("#{{id}}table").tablesorter();
sortList[[1,0]]});
});
</script>
